#banner {
    width: 100%; 
    max-width: 1240px;
    height: 300px; 
    object-fit: cover; 
    display: block;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 1.5em;
    background-color:rgb(187, 223, 220);
    color: rgb(23, 166, 151);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background: white;
    border: 2px solid rgb(23, 166, 151);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
}

.hidden {
    display: none;
}

#topic-selection button {
    font-size: 1.5em;
    margin: 30px;
    padding: 20px 60px;
    width: 40%;
    background-color: rgb(23, 166, 151);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#topic-selection button:hover {
    background-color: rgb(25, 198, 221);
    font-weight: bold;
}

#question {
    color: rgb(23, 166, 151);
    margin-bottom: 50px;
    font-size: 2em;
}

.option-button {
    background-color: rgb(23, 166, 151);
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 45%;
}

.option-button:hover {
    font-weight: bold;
    background-color: rgb(25, 198, 221);
}

#play-again {
    background-color: rgb(23, 166, 151);
    color: white;
    font-size: 2em;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 25%;
}

#play-again:hover {
    font-weight: bold;
    background-color: rgb(25, 198, 221);
}

@media (max-width: 600px) {
    .options {
        flex-direction: column;
    }
    .option-button {
        width: 100%;
    }
    .topic-selection {
        flex-direction: column; 
    }
    .topic-selection button {
        width: 100%; 
    }
    #banner {
        height: 150px; 
    }
}